* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}

.link_reset {
    text-decoration: none;
    color: black;
}

button {
    color: white;
    background-color: #0061ff;
    padding: 10px 15px;
    border: none;
    align-self: flex-start;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    min-height: 100px;
    background-color: crimson;
    padding: 10px;
}

/*---- Header*/
header {
    width: 100%;
    height: 50px;
    padding: 15px 0;
    background-color: white;
    position: fixed;

}

.link_header {
    list-style: none;
}

.link_header>li {
    display: inline-block;
    margin: 0 20px
}

/*---- Main*/

/*-- Jumbo*/
.background_jumbo {
    background-color: #b4d0e7;
    padding-top: 100px;
}

.jumbo {
    max-width: 1180px;
    margin: 0 auto;
    min-height: 100px;
    /* background-color: rgba(0, 255, 179, 0.589); */
}

.title_jumbo {
    font-size: 60px;
    margin-bottom: 20px;
}

#jumbo_img {
    max-width: 800px;
}

.jumbo_aside_img>*{
    margin-bottom: 20px;
}

.jumbo_aside_img {
    flex-direction: column;
}

#downs_arrow {
    font-size: 50px;
}

/*--- Piano Business*/



.container> h2 {
    font-size: 40px;
    margin-bottom: 50px;
}

.fatturazione {
    margin-bottom: 50px;
}

.cards_business_p {
    display: flex;
    justify-content: space-between;
    gap: 40px;

}

.card_bp {
    background-color: #09ff00b7;
    border: 1px solid grey;
    padding: 5px;
    height: 800px;
    width: calc(100%/3);    
}

.card_our_team {
    width: 100%;
    min-height: 200px;
    padding: 5px;
}

.title_card {
    text-align: center;
    padding: 10px;
    border: 1px solid grey;
}