* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
header {
    width: 100%;
    height: 50px;
    padding: 15px 0;
    background-color: brown;

}

.link_header {
    list-style: none;
}

.link_header>li {
    display: inline-block;
    margin: 0 20px

}

.link_reset {
    text-decoration: none;
    color: black;
}