* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-family: 'Open Sans', sans-serif;
}
.flex {
    display: flex;
}
.space-between {
    justify-content: space-between;
}
ul {
    list-style: none;
}
.link_reset {
    text-decoration: none;
    color: currentColor;
}

button {
    color: white;
    background-color: #0061ff;
    padding: 10px 15px;
    border: none;
    align-self: flex-start;
}

.container {
    max-width: 1000px;
    margin: 50px auto;
    min-height: 100px;
    /* background-color: crimson; */
    padding: 10px;
}

/*---- Header*/
header {
    width: 100%;
    height: 80px;
    padding: 15px 0;
    background-color: white;
    position: fixed;
    align-items: center;

}

.link_header {
    list-style: none;
    align-items: center;
}

.link_header>li {
    display: inline-block;
    margin: 0 20px
}

#logo-drop {
    display: block;
}


/*---- Main*/

/*-- Jumbo*/
.background_jumbo {
    background-color: #b4d0e7;
    padding-top: 100px;
}

.jumbo {
    max-width: 1180px;
    margin: 0 auto;
    min-height: 100px;
    /* background-color: rgba(0, 255, 179, 0.589); */
}

.title_jumbo {
    font-size: 60px;
    margin-bottom: 20px;
}

#jumbo_img {
    max-width: 800px;
}

.jumbo_aside_img>*{
    margin-bottom: 20px;
}

.jumbo_aside_img {
    flex-direction: column;
}

.downs_arrow {
    font-size: 50px;
    margin-top: auto;
}

/*--- Piano Business*/


.row_fatturazione {
    margin-bottom: 50px;
    gap: 8px;
    align-items: center;
}
.radio_fatturazione {
    content: '';
    display: block;
    width: 10px;
    height: 10px;
    box-shadow: 0px 0px 0px 4px #0464ff;
    border-radius: 50%;
}
.row_title {
    margin-bottom: 50px;
}
.row_bp {
    display: flex;
    column-gap:30px;
    flex-wrap: wrap;
    row-gap: 30px;
    height: 100%;

}

.col-33 {
    flex-grow: 1;
    flex-basis: 0;
    display: flex;
    flex-direction: column;
        
}

.col-max {
    width: 100%;
}

.intestazione {
    text-align: center;
    border: 1px solid #d6d6d9;
    padding:10px;
}

.list_bp {
    display: flex;
    gap:10px;
    align-items: baseline;
}
.blu {
    color:#0464ff;
}

.offer-details {
    padding: 30px;
    border: 1px solid #d6d6d9;
    border-top: none;
    height: 100%;
}
.offer-details>* {
    margin-bottom: 30px;
}

.name_cost>* {
    margin-bottom: 15px;
}

.name_cost>h4 {
    font-size: 13px;
    margin-bottom: 15;
}
.name_cost>p {
    color: #a1968a;
    font-size: 13px;
}
.little-bord {
    width: calc(100%/5);
    border-bottom:  1px solid #d6d6d9;
}

.bp-list1 {
    max-width:50%;
}
.row-our-team {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    border: 1px solid #d6d6d9;
    border-top: none;
    row-gap: 10px;
}
.card_ot-66 {
    width: calc((100% / 3) * 2);
    padding: 10px;
}
.card_ot-66>h3 {
    margin-bottom: 20px;
}
.card_ot-33 {
    width: calc(100%/3);
    padding: 10px;
}
.button_center {
    width: 100%;
    text-align: center;
}

.smal_icon {
    font-size: small;
}

.title-list {
    font-weight: bold;
}

.benefit_list li,.benefit_list h4 { 
    margin-bottom: 20px;
}

/* partent dropbox */

.partner-66 {
    width: 60%;
}
.partner-33 {
    width: 40%;
    padding: 50px;
}

.partner-66>img {
    width: 100%;
}

.button-white {
    padding: 10px 15px;
    border: 1px solid black
}

.partner-33>* {
    margin-bottom: 30px;
}


/* Operazioni possibili con Dropbox */

.row_cards_op {
    gap: 30px;
    flex-wrap: wrap;
}

.card-op {
    width: calc((100%/3) - 20px); 
    flex-direction: column;
}
.card-op>img {
    width: 100%;
}

.card-op>h2 {
    margin: 20px 0;
}

.row_title_op {
    font-size: 25px;
    margin-bottom: 50px;
}

 /* Quanti usano Dropbox */

 .row-many-use {
    width: calc((100%/3) * 2);
 }
 .row-many-use>h1 {
    font-size: 40px;
    font-weight: bold;
 }

 .row-many-use>* {
    margin-bottom: 50px;
 }

 /* aziende affiliate */

 .container-100,
 .row_affiliates {
    width: 100%;
    display: flex;
}

 .col_affiliates {
    width: calc(100%/3);
    display: flex;
    flex-wrap: wrap;
 }
 .col_aff-center {
    flex-direction: column;
    padding: 50px;
    background-color: #f5f5f5;
    gap: 50px;
 }

 .card_aff {
    width: 50%;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
 }
.col_aff-center img {
    width: 50%;
    margin-bottom: 50px;
}
 .card_aff>img {
    width: 50%;
    filter: invert(100%);
 }
.col_aff-center-img::after {
    content: '';
    display: block;
    height: 2px;
    width: 20%;
    background-color: #d2d2d4;
}


/* Colori sfondi card */
 .card-aff-1 {
    background-color: #a2d39b;
 }
 .card-aff-2 {
    background-color: #61082b;
 }

 .card-aff-3 {
    background-color: #0093ce;
 }
 .card-aff-4 {
    background-color: #ff1c1c;
 }
 .card-aff-5 {
    background-color: #d5001f;
 }
 .card-aff-6 {
    background-color: #b4d0e7;
 }
 .card-aff-7 {
    background-color: #0d2481;
 }
 .card-aff-8 {
    background-color: #ffd830;
 }
 